# SPDX-FileCopyrightText: 2021 Union
#
# SPDX-License-Identifier: CC0-1.0

# Instead of adding ignores for your editor/os/tool-specific files
# you should add them to your global ignore file `~/.config/git/ignore`
